---
title: "Legi<wbr>bili<wbr>dad"
subtitle: "Cómo y por qué la tipografía afecta la facilidad de lectura"
nav: "Homepage"
layout: frontpage
permalink: es/
lang: es
bodyclass: homepage
author: Mary C. Dyson
---

<h1 id="prefacio">Prefacio</h1>
<p>
    La invención de la tipografía, la imprenta, y más recientemente la digitalización e internet provocaron una abundancia de documentos e hizo incuestionable la necesidad de una comunicación legible. Profesionales de la tipografía, diseñadores gráficos, diseñadores UX, operadores DTP, desarrolladores de software, usuarios casuales de software de procesadores de palabra, todos de alguna u otra manera diseñan documentos así afectando su facilidad de lectura. ¿Pero qué es exactamente legibilidad y cómo podemos diseñar documentos que sean más fáciles de leer?
</p>
<p>
    El conocimiento tradicional tipográfico está basado en convicciones, tecnología, y experiencia personal y/o compartida que clama por respuestas confiables, probadas por generaciones. Además de esto, ha habido un creciente cuerpo de investigación científica que busca entregar teorías comprobables para evaluar aquellas respuestas de forma crítica. Frecuentemente disgregado a través de publicaciones y monogramas académicos, la investigación contemporánea puede ser de difícil acceso y asimilación por no-investigadores.
</p>
<p>
    Mary C. Dyson ha pasado la mayor parte de su vida académica en el renombrado Departamento de Tipografía y Comunicación Gráfica de la Universidad de Reading (Reino Unido). Ha dedicado su carrera a la investigación en lectura y tipografía, escribiendo numerosos artículos sobre la materia. Su libro es un intento integral de hacer de las descripciones de investigación más accesibles para quienes se puedan beneficiar: profesionales, estudiantes, entusiastas.
</p>
<p>
    Frente a ti hay una versión digital de su exhaustiva introducción a la legibilidad. Actualiza y extiende libros existentes que resumen la investigación contemporánea sobre legibilidad en una forma accesible. Disponible en <a href="/en">inglés</a> y español, bajo una licencia permisiva (<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>), es un recurso primordial en legibilidad tipográfica accesible en línea. El trabajo está formulado como un libro texto enfatizando la lectura crítica. El contenido de esta compleja investigación está dividido en *paneles* proporcionando material adicional o explicaciones y *cajas* describiendo los detalles de los experimentos.
<p>
    El proyecto no habría sido posible sin la generosidad de la editora original María González de Cossío del Centro de Estudios Avanzados de Diseño (Puebla, México) y sin el soporte económico de <a href="http://fonts.google.com">Google Fonts</a>. El trabajo de producción para su versión digital fue realizado bajo los auspicios de Rosetta Type y con la mayoría del trabajo pesado ejecutado por Johannes Neumeier. Más agradecimientos a Sofie Beier, Jeanne-Louise Moys, Carlos Pérez Cerón, Kevin Larson, y Tania Chacana (ver <a href="/es/acknowledgements">reconocimientos</a>).
</p>
<p>
    No se puede sobrestimar la importancia de su publicación en línea. Creo que tendrá un gran impacto en la tipografía para web y el discurso tipográfico en línea, pero estaría igual de bien si lo consideras útil para tu reflexión, práctica o investigación. 
</p>
<p>— David Březina, Rosetta Type, Mayo 2023</p>


<h1>Otros dicen</h1>
<blockquote>
    La tipografía importa. Puede mejorar o arruinar nuestra experiencia en la lectura. En este cautivante libro, Mary C Dyson revela la ciencia y el arte de la legibilidad, basado en su expertise como psicóloga cognitiva. Ya seas diseñador, investigador, o lector, encontrarás invaluables perspectivas y consejos en este libro.
</blockquote>

<p>— Kevin Larson, Investigador principal en Microsoft Advanced Reading Technologies</p>


<!--
<blockquote>
    todo
</blockquote>

<p>— Maria Lonsdale, Profesora de Diseño de Información y Comunicación, Universidad de Leeds</p>
-->

<blockquote>
    Escrito de una manera clara y concisa, este no es un libro como cualquier otro sobre la materia de legibilidad en el texto. Mary C. Dyson, una experta en el área, combinando una vasta enseñanza y experiencia en investigación logra producir un atractivo e informativo trabajo sobre una materia compleja y desafiante. La calidad del contenido, organizado y diseñado en un estilo accesible, constituye un valioso recurso y un libro de lectura obligada para cualquiera qué esté estudiando, enseñando, o practicando tipografía.
</blockquote>

<p>— Klimis Mastoridis, Profesor de Tipografía y Comunicación Gráfica, Universidad de Nicosia</p>


<div class="toc-wrapper">
    <h1>Tabla de contenidos</h1>
    <ol class="index-toc meta">
        {% assign toc_lang = "toc_" | append: page.lang %}
        {% for chapter in site.data[toc_lang] %}
        {% assign link = site.chapters_es[forloop.index0].url %}
        {% assign desc = site.chapters_es[forloop.index0].description %}
        {% assign duration = site.chapters_en[forloop.index0].duration %}
        <li>
            <a class="" href="{{ site.baseurl }}{{ link }}">
                <i>{{ forloop.index }}</i>
                <div class="chapter-description">
                    <h1>{{ chapter[0] }}</h1>
                    <small>{{ desc }}</small>
                    <small class="reading-time">{{ duration }} minutos de lectura</small>
                </div>
            </a>
        </li>
        {% endfor %}

        <li>
            <a class="inset" href="{% link pages/glossary_es.md %}">
                <div><h1>Glosario</h1></div>
            </a>
        </li>
        <li>
            <a class="inset" href="{% link pages/bibliography_es.md %}">
                <div><h1>Bibliografía</h1></div>
            </a>
        </li>
        <li>
            <a class="inset" href="{% link pages/acknowledgements_es.md %}">
                <div><h1>Reconocimientos</h1></div>
            </a>
        </li>
        <li>
            <a class="inset" href="{% link pages/authors_es.md %}">
                <div><h1>Autores</h1></div>
            </a>
        </li>
        <li>
            <a class="inset" href="{% link pages/version-log_es.md %}">
                <div><h1>Versiones</h1></div>
            </a>
        </li>
    </ol>
</div>

{% include cta-newsletter.html %}