
<li class="no-marker"><strong><a href="{% link pages/table-of-contents_en.md %}" class="{% if page.url == '/table-of-contents' | relative_url %} current {% endif %}">Table of contents</a></strong></li>
{% assign toc_lang = "toc_" | append: page.lang %}
{% assign chapter_lang = "chapters_" | append: page.lang %}
{% assign chapters = site[chapter_lang] %}

{% for chapter in site.data[toc_lang] %}
    {% assign link = chapters[forloop.index0].url %}
<li>
    <a class="{% if page.url == link | relative_url %} current {% endif %}" href="{{ site.baseurl }}{{ link }}">{{ forloop.index }}. {{ chapter[0] }}</a>
</li>
{% endfor %}

{% assign appendix_lang = "appendix_" | append: page.lang %}
{% for item in site.data[appendix_lang] %}
    {% assign p = site.pages | where: "path", item | first %}
    {% assign title = p.title %}
    {% if p.nav %}
        {% assign title = p.nav %}
    {% endif %}

    {% if title %}
    <li><a href="{{ p.url | relative_url }}" 
        class="{% if page.url == p.url | relative_url %} current {% endif %}">{{ title }}</a>
    </li>
    {% endif %}
{% endfor %}
