{% if page.lang == "en" %}
<div class="cta cta-newsletter">
    <h1>Enjoyed the book?</h1>
    <p>Sign up for <a href="https://designregression.com">Design Regression</a> newsletter and get notified when we publish new articles there.</p>
    <div id="cta-newsletter" class="newsletter">
        <form class="newsletter-signup-form newsletter br" action="https://shop.rosettatype.com/newsletter/subscribe" method="post">
        <fieldset>
            <input name="email" required="" autocomplete="Email" aria-label="Email" maxlength="200" type="email"
                placeholder="Your email*">
            <input name="list" value="designregression" type="hidden">
            <input name="honeypot" value="" type="hidden">
            <button type="submit">Sign up</button>
        </fieldset>
        <small class="note small">By clicking the Sign up button, you agree to receive our newsletter. <br>You will be able to unsubscribe at any time.</small>
        <span class="message"></span>
        </form>
        <script src="https://shop.rosettatype.com/static/javascript/newsletter.js"></script>
    </div>
</div>
{% else %}
<div class="cta cta-newsletter">
    <h1>¿Disfrutaste del libro?</h1>
    <p>Suscríbete al boletín de <a href="https://designregression.com">Design Regression</a> (disponible en inglés) y recibe una notificación cuando publiquemos nuevos artículos.</p>
    <div id="cta-newsletter" class="newsletter">
        <form class="newsletter-signup-form newsletter br" action="https://shop.rosettatype.com/newsletter/subscribe" method="post">
        <fieldset>
            <input name="email" required="" autocomplete="Email" aria-label="Email" maxlength="200" type="email"
                placeholder="Tu email*">
            <input name="list" value="designregression" type="hidden">
            <input name="honeypot" value="" type="hidden">
            <button type="submit">Suscribir</button>
        </fieldset>
        <small class="note small">Haciendo click en el botón Suscribir, acuerdas recibir nuestro boletín. Podrás darte de baja en cualquier momento.</small>
        <span class="message"></span>
        </form>
        <script src="https://shop.rosettatype.com/static/javascript/newsletter.js"></script>
    </div>
</div>
{% endif %}