<footer id="page-footer">
    <div>
        <div>
            <strong><a href="{% link pages/table-of-contents.md %}" class="{% if page.url == '/table-of-contents' | relative_url %} current {% endif %}">Table of Contents</a></strong>
            <ol class="toc">
                {% for chapter in site.data.toc %}
                {% assign link = site.chapters[forloop.index0].url %}

                <li>
                    <a href="{{ site.baseurl }}{{ link }}">{{ chapter[0] }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div>
            <strong>Links</strong>
            <ul class="links">
                <li><a href="{% link index.html %}" class="{% if page.url == 'index.html' | relative_url %} current {% endif %}">Index</a></li>
                <li><a href="{% link pages/acknowledgements.md %}" class="{% if page.url == '/acknowledgements' | relative_url %} current {% endif %}">Acknowledgements</a></li>
                <li><a href="{% link pages/references.md %}" class="{% if page.url == '/references' | relative_url %} current {% endif %}">References</a></li>
                <li><a href="{% link pages/glossary.md %}" class="{% if page.url == '/glossary' | relative_url %} current {% endif %}">Glossary</a></li>
                <li><a href="{% link pages/about.md %}" class="{% if page.url == '/about' | relative_url %} current {% endif %}">About</a></li>
            </ul>
        </div>
        <div>TBD some meta, links, etc.</div>
    </div>
</footer>