
<footer id="page-footer">
    <div>
        <div>
            <ol class="toc">
                <li class="no-marker"><strong>
                    {% if page.lang == "en" %}
                    <a href="{% link pages/table-of-contents_en.md %}" class="{% if page.url == '/table-of-contents' | relative_url %} current {% endif %}">
                        Table of contents
                    </a>
                    {% else %}
                        <a href="{% link pages/table-of-contents_es.md %}" class="{% if page.url == '/table-of-contents' | relative_url %} current {% endif %}">
                            ES_Table of contents
                        </a>
                    {% endif %}
                </strong></li>
                {% include chapterlist.html %}
            </ol>
        </div>
        <div>
            <strong>
                {% if page.lang == "en" %}
                    Information
                {% else %}
                    Información
                {% endif %}
            </strong>
            {% include links.html %}
        </div>
        <div>
            {% assign root = '/' | append: page.lang %}
            {% if page.lang == "en" %}
                <a class="button" target="_blank" href="{{ 'assets/downloads/Legible-Typography-Mary-Dyson.pdf' | relative_url }}">Download as PDF</a>
                <a class="button" href="/es">Leer en español</a>
            {% else %}
                <a class="button" target="_blank" href="{{ 'assets/downloads/Legible-Typography-Mary-Dyson.pdf' | relative_url }}">Descargar como PDF</a>
                <a class="button" href="/en">Read in English</a>
            {% endif %}
        </div>
    </div>
</footer>
