
<footer id="page-footer">
    <div>
        <div>
            <ol class="toc">
                {% include chapterlist.html %}
            </ol>
        </div>
        <div>
            <strong>
                {% if page.lang == "en" %}
                    Information
                {% else %}
                    Información
                {% endif %}
            </strong>
            {% include links.html %}
        </div>
        <div>
            {% assign root = '/' | append: page.lang %}
            {% if page.lang == "en" %}
                <a class="button" target="_blank" href="{{ 'assets/downloads/Legible-Typography-Mary-Dyson.pdf' | relative_url }}">Download as PDF</a>
                <a class="button" href="{{ root }}">Read in English</a>
            {% else %}
                <a class="button" target="_blank" href="{{ 'assets/downloads/Legible-Typography-Mary-Dyson.pdf' | relative_url }}">Descargar como PDF</a>
                <a class="button" href="{{ root }}">Leer en español</a>
            {% endif %}
        </div>
    </div>
</footer>
