{% assign title = site.title %}
{% if page.title %}
    {% assign title = page.title %}
{% endif %}

{% assign description = site.description %}
{% if page.intro %}
    {% assign description = page.intro|strip_html %}
{% endif %}

{% assign sharing = "assets/img/sharing_image_" | append: page.lang | append: ".png" %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>{{ title | strip_html }}</title>
    
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ site.author }}" />

    <meta property="og:title" content="{{ title | strip_html }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ sharing | absolute_url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title | strip_html }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ sharing | absolute_url }}" />

    <link rel="icon" href="{{ 'assets/favicon/favicon.ico' | relative_url }}" sizes="any">
    <link rel="icon" href="{{ 'assets/favicon/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ 'assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | relative_url }}">
    <meta name="theme-color" content="#002241">
    
    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/print.css' | relative_url }}" media="print" />

    <script defer data-domain="legible-typography.com" src="https://plausible.io/js/script.js"></script>
</head>
