<div class="header-menu">
    <!-- {% if page.lang == "en" %}
        {% assign lang_url = page.url | replace: "en", "es" %}
        {% assign lang_title = "Read this page in Spanish" %}
        {% assign lang_title_short = "In Spanish" %}
    {% else %}
        {% assign lang_url = page.url | replace: "es", "en" %}
        {% assign lang_title = "Read this page in English" %}
        {% assign lang_title_short = "In English" %}
    {% endif %} -->
    <a id="byline-default" class="byline" href="{{ lang_url }}">
        <!-- <span class="wide">{{ lang_title }}</span> -->
        <span class="narrow">Sponsored by Google Fonts</span>
    </a>
    <span id="byline-close" class="byline">Close</span>
</div>
<div class="header-info">
    <button class="toggle-menu info">
        <i class="icon-menu"></i>
        <i class="icon-close"></i>
    </button>
</div>