<div class="header-menu">
    <span id="byline-default" class="byline">
        <a href="https://designregression.com" target="_blank">{% if page.lang == "es" %}Proyecto de Design Regression{% else %}Project by Design Regression{% endif %}</a><br>
        <a href="https://fonts.google.com" target="_blank">{% if page.lang == "es" %}Patrocinado por Google Fonts{% else %}Funded by Google Fonts{% endif %}</a>
    </span>
    <span id="byline-close" class="byline">Close</span>
</div>
<div class="header-info">
    <button class="toggle-menu info">
        <i class="icon-menu"></i>
        <i class="icon-close"></i>
    </button>
</div>