
<ul class="links">
    <li><a href="" class="{% if page.url == "" %} current {% endif %}">Index</a></li>
    <li><a href="" class="{% if page.url == "" %} current {% endif %}">Acknowledgements</a></li>
    <li><a href="{% link pages/table-of-contents.md %}" class="{% if page.url == lnk %} current {% endif %}">Table of Contents</a></li>
    <li><a href="" class="{% if page.url == "" %} current {% endif %}">References</a></li>
    <li><a href="" class="{% if page.url == "" %} current {% endif %}">Glossary</a></li>
    <li><a href="" class="{% if page.url == "" %} current {% endif %}">About</a></li>
</ul>