/**
 * Styling applied to all content using the post.html layout
 */

.layout-chapter article {
    @include maxwidth();
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 3rem;
    padding-right: $gutter*0.5;

    counter-reset: sidenotes markers;

    .header {
        margin-top: 20vh;

        h1 {
            width: 100%;
            font-size: #{"min(7.5vw, 96px)"} !important;
            line-height: 1;

            @include tablet {
                display: block;
                font-size: 56px !important;
                strong {
                    display: block;
                }
            }

            @include mobile {
                font-size: 48px !important;
                align-items: flex-start;
            }

            @media screen and (max-width: 480px) {
                span em, span i {
                    border: none !important;
                    justify-content: left;
                }
            }
        }

        .meta {
            * {
                margin-left: -1px;
            }

            .meta-tags {
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .meta-authors {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    // .sidenotemark {
    a[href^="#sn:"] {
        text-decoration: none;
        border-bottom: none;

        &:hover,
        &:focus {
            color: initial !important;
            cursor: help;
        }

        &:after {
            @include font-mono(16px, $weight: 450);

            counter-increment: markers;
            content: counter(markers);

            line-height: inherit !important;
            position: relative;
            top: -0.2em;
            font-feature-settings: "ss12" 1;
            display: inline-block;
            padding: 0.05em 0 0.05em;
            margin: 0 0.3em;
        }
    }

    aside {
        @include text-sidenote;

        box-sizing: border-box;
        padding-left: 48px;
        width: 100% / 6 * 2;

        transition: color 0.5s ease-out;

        p+p {
            margin-top: 0.75em;
        }

        p em {
            @include font-mono-italic;
        }

        &[id^="sn:"] {
            opacity: 0;
        }

        // The (1) in the <aside id="sn:..." that holds the sidenote text
        &[id^="sn:"]:before {
            @include font-mono(16px, $weight: 700);

            counter-increment: sidenotes;
            content: counter(sidenotes);

            position: relative;
            top: 0.1em;
            font-feature-settings: "ss12" 1;
            padding: 0;
            margin: 0 0.6em 0 0.125em;
            display: inline-block;

            // The line height of the superior should not "bump" the first
            // line's line height!
            line-height: 1 !important;
        }

        // Applied in _themes.scss
        // &.flash {
        //     color: red;
        // }
    }

    a[href^="{% link pages/bibliography_en.md %}#"] {
        text-decoration: underline;
    }

    main {
        width: 100% / 6 * 4;

        >* {
            margin-bottom: 1em;
        }

        aside {
            position: absolute;
            right: -50%;
            width: 50%;

            small {
                @include text-sidenote;
            }
        }

        figure.full {
            width: calc(150% + 0.5rem);

            figcaption {
                width: 66.66%;
            }

            @include tablet {
                width: calc(100% - 2rem) !important;
                padding: 0 !important;

                figcaption {
                    width: auto;
                    max-width: 40rem;
                }
            }
        }

        figure figcaption.aside {
            position: absolute;
            right: -50%;
            width: 50%;
            padding-left: 2.5rem;
            top: 2.5rem;
        }

        figure.side-by-side {

            img,
            .img {
                width: 50%;
            }

            figcaption {
                position: absolute;
                bottom: 1rem; // corresponds to the 1rem padding on the img
                left: 50%;
                padding-left: 1.5rem;
                margin-bottom: 0;
            }

            @include tablet {
                img,
                .img {
                    max-width: 40rem;
                }

                figcaption {
                    position: relative;
                    bottom: auto;
                    left: auto;
                    padding-left: initial;
                }
            }
        }

        aside.panel,
        aside.box {
            @extend .expandable;
        }

        aside.table,
        aside.panel,
        aside.box {
            font-family: inherit;
            font-size: smaller;
            position: relative;
            right: auto;
            width: auto;
            padding: $gutter;
            margin: $gutter 0;

            background: #{$blue-interactive-accent}33;
            border: 1px solid $blue-interactive-accent;
            border-radius: 2px;

            &.expandable:hover {
                border: 1px solid #{$blue-interactive-foreground}AA;
            }

            @include tablet {
                padding: $gutter;
                margin-left: 0;
                margin-right: 0;
            }

            ul {
                margin-bottom: 1rem;
                margin-left: 1rem;
            }

            em {
                @include font-italic();
            }

            figure img,
            figure .img {
                // background: transparent;
                border: 0;
                margin-top: 2rem;
            }

            figure.side-by-side {

                img,
                .img {
                    width: 50%;
                }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    padding-left: 1.5rem;
                    margin-bottom: 0;
                }
            }

            // Prevent link underline from being obscured by same color background
            a[href*='bibliography#'],
            a[href^='#'] {
                border-color: $blue-interactive-foreground;
            }
        }

        // aside.panel {
            // background: $blue-interactive-accent;

        // }

        // aside.box {
        //     // border: 1px dotted $blue-interactive-foreground;
        // }

        // aside.table {
        //     border: 1px dotted $blue-interactive-foreground;
        //     background: #ffffff;
        //     width: 150%;

        //     @include tablet {
        //         width: auto;
        //     }
        // }
    }

    // References
    p[id^="ref:"] {
        @include text-s;

        // Try ... super long links in the references on mobile, when some user
        // agents won't auto-break them to new lines
        text-overflow: ellipsis;
        width: 100%;
        overflow-x: hidden;
    }

    footer {
        margin-top: 2rem;
        width: 100% / 6 * 4;
    }

    ul ul {
        padding-left: 1rem;
    }

    ul.comment-list ul {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        list-style: none;

        li:before {
            content: "↳";
            display: inline-block;
            width: 1rem;
            margin-left: -1rem;
        }
    }
}


nav.meta {
    @extend aside;
    background: transparent;
    position: sticky;
    top: -3px;
    flex-wrap: wrap;
    overflow: visible;
    z-index: 9;
    
    @include tablet {
        display: none;
    }

    &>* {
        flex-grow: 1;
        flex-basis: 50%;
        background: $blue-interactive-background;

        &:first-child {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            // space enough to fit the menu button
            min-height: 4rem;
            padding-right: 4rem;
        }

        &.meta-prev {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -1px;

            &:last-child {
                margin-right: 0;
                border-bottom-right-radius: 2px;
            }
        }

        &.meta-next:last-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 2px;
        }

        &.meta-prev,
        &.meta-next {
            white-space: pre;
        }
    }

    .meta-sections {
        display: block;
        border-radius: 0;
        margin: -1px 0;
        flex-basis: 100%;

        ul {
            margin-left: 1em;
            text-transform: none;
            font-weight: 400;

            li {
                margin: 0.5em 0;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

body.scrolled article .meta .meta-sections {
    &:hover  ul li {
        display: list-item;
    }

     ul li {
        display: none;

        &.has-nested-active>a {
            display: none;
        }

        &.has-nested-active {
            display: block;
        }

        &.active {
            display: list-item;
        }
    }
}

#notes,
#footnotes {
    display: none;

    @include tablet {
        display: block;
    }
}

/*
 * TABLET 768 - 1024
 */
@mixin post-tablet {
    .layout-chapter aside[id^="sn:"] {
        @include text-s;

        &:before {
            top: 0 !important;
        }
    }

    .layout-chapter {
        article {
            padding: 0 $gutter/2;

            .header {
                margin-top: $gutter*2;
                padding-top: 0 !important;
            }

            h1 {
                font-size: 7.5vw;

                @include tablet {
                    font-size: #{"min(7.5vw, 48px)"};
                }

                &.large {
                    font-size: 15vw;
                }
            }

            aside {
                padding-left: initial;
            }

            aside.meta {
                order: 0;
                width: auto;
                margin-bottom: 1rem;
            }

            aside[id^="sn"] {
                margin: 1rem 0 3rem;
            }

            main figure figcaption.aside {
                position: relative;
                right: initial;
                left: initial;
                width: initial;
                padding-left: initial;
                top: initial;
            }

            main {
                order: 1;
                width: 100%;

                aside {
                    position: relative;
                    right: initial;
                    width: 100%;
                }

                .full {
                    width: 100%;
                    margin-left: 0;
                    box-sizing: border-box;
                }

                blockquote.pullquote {
                    margin: 0;
                    display: block;
                    width: 100%;
                }

                ul {
                    padding-left: 1rem;
                }
            }

            footer {
                order: 2;
                width: 100%;
            }
        }

        >header.header {
            position: absolute;
            z-index: 9;
        }
    }
}

@include tablet {
    @include post-tablet;
}

// Define this here to not have to make the mixin global and import it in print
@media print {
    @include post-tablet();
}

/*
 * MOBILE < 768
 */
@include mobile {
    .layout-chapter {
        article {
            margin-bottom: 0;

        }

        footer.footer {
            border-top: 0;
        }
    }
}

/*
 * LANGUAGE-SPECIFIC SETTINGS
 */

.chapter-footer {
    margin: 5rem 0 3rem !important;
    width: auto !important;

    >:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    >:last-child {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}