$fontpath: "../ui-fonts" !default;

/* Display Extrabold */
@font-face {
    font-display: block;
    font-family: "Adapter PE Display";
    font-weight: 800;
    font-style: normal;
    src: url("#{$fontpath}/AdapterPEDisplayWeb/AdapterPEDisplayWeb-Eb.woff") format("woff");
}

/* Text Regular */
@font-face {
    font-display: block;
    font-family: "Adapter PE Text";
    font-weight: 400;
    font-style: normal;
    src: url("#{$fontpath}/AdapterPETextWeb/AdapterPETextWeb-Rg.woff") format("woff");
}

/* Text Bold */
@font-face {
    font-display: block;
    font-family: "Adapter PE Text";
    font-weight: 700;
    font-style: normal;
    src: url("#{$fontpath}/AdapterPETextWeb/AdapterPETextWeb-Bd.woff") format("woff");
}

/* Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "Adapter PE VF";
        font-weight: 100 900;
        font-style: normal;
        src: url("#{$fontpath}/AdapterPEVariableWeb/AdapterPEVFWeb-All.woff2") format("woff2");
    }
}


// /* Mono Regular */
@font-face {
    font-display: block;
    font-family: "Adapter Mono PE";
    font-weight: 400;
    font-style: normal;
    src: url("#{$fontpath}/AdapterMonoPEWeb/AdapterMonoPEWeb-Rg.woff2") format("woff2");
}

/* Mono Bold */
@font-face {
    font-display: block;
    font-family: "Adapter Mono PE";
    font-weight: 700;
    font-style: normal;
    src: url("#{$fontpath}/AdapterMonoPEWeb/AdapterMonoPEWeb-Bd.woff2") format("woff2");
}

/* Mono Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "Adapter Mono PE VF";
        font-weight: 100 900;
        font-style: normal;
        src: url("#{$fontpath}/AdapterMonoPEVariableWeb/AdapterMonoPEVFWeb-All.woff2") format("woff2");
    }
}

/**
 * Define mixing for the various font styles and use only these to set the font
 * This will ensure that the correct family is triggered based on browser support 
 * and consequently only that family's webfonts will be loaded!!!
 */
@mixin font-text($fontsize: 20px, $lineheight: 1.6, $letterspacing: initial, $weight: 400) {
    font-family: "Adapter PE Text", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "Adapter PE VF", "Adapter PE Text", sans-serif;
        font-variation-settings: "opsz"4;
    }
}

@mixin font-heading($fontsize: 32px, $lineheight: 1.15, $letterspacing: -0.01em,
    $weight: 900, $opsz: 18, $slnt: 0) {
    font-family: "Adapter PE Display", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "Adapter PE VF", "Adapter PE Display", sans-serif;
        font-variation-settings: "opsz"$opsz, "slnt"$slnt;
    }
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-italic {
    font-family: "Adapter PE Text", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "ss02" 1, "ss04" 1;

    @supports (font-variation-settings: initial) {
        font-style: normal;
        font-family: "Adapter PE VF", "Adapter PE Text", sans-serif;
        font-variation-settings: "opsz"4, "slnt"-10;
    }
}

@mixin font-mono($fontsize: 18px, $lineheight: 1, $weight: 400) {
    font-family: "Adapter Mono PE", monospace;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: 0;
    line-height: $lineheight;
    
    @supports (font-variation-settings: initial) {
        font-family: "Adapter Mono PE VF", "Adapter Mono PE", monospace;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-mono-italic {
    font-style: italic;
    font-family: "Adapter Mono PE", monospace;
    font-feature-settings: "ss07" 1;
    font-weight: 400;
    
    @supports (font-variation-settings: initial) {
        font-family: "Adapter Mono PE VF", "Adapter Mono PE", monospace;
        font-style: normal;
        font-variation-settings: "slnt" -13;
    }
}

/**
 * Custom icon font mixin
 */
@mixin icon($icon) {
    font-size: 10px;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: $icon;
}