/**
 * Most of the home/index page follows the general page styling. 
 * However, for desktop we want to make the first article a featured
 * element that takes half the space
 */

%border-half {
    content: " ";
    border-bottom: $border;
    border-color: $blue-interactive-highlight;
    position: absolute;
    left: -$gutter;
    width: 50vw;
    bottom: 0;
}


#featured-article {
    padding-right: 0;
    padding-top: 0;
    margin-top: 1rem;

    @include tablet {
        margin-top: 3rem;
    }

    @media screen and (max-height: 45rem) {
        .article-excerpt {
            display: none;
        }
    }
}

.article-excerpt {
    margin-bottom: 1.5rem;
}

.excerpt {
    h2 {
        margin-bottom: 1.25rem;
    }
}


/*
 * TABLET 768 - 1024
 */
@include tablet {
}


/*
 * MOBILE < 768
 */
@include mobile {
}





ol.index-toc {
    list-style: none;

    li {
        clear: both;
        padding: 0;
    }

    h1 {
        margin: 0;
        @include heading-l;
        font-size: #{"max(3.5vw, 48px)"};
        line-height: 1;
    }

    small {
        line-height: 1.5;
        display: block;
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;

        &:hover span {

            i {
                color: $blue-interactive-interactive;
                border-color: $blue-interactive-interactive;
                background: $blue-interactive-accent;
                filter: blur(0.095em);
                transform: scale(0.9);
                border-radius: 40%;
            }

            em {
                border: none;
                display: block;
                color: white;
                font-weight: 800 !important;
            }
        }
    }

    span {
        $min: #{"min(20vw, 250px)"};
        width: 20%;
        height: 0;
        padding-top: 20%;
        position: relative;
        text-align: center;
        // float: left;
        flex-shrink: 0;
        margin-right: 1rem;

        i,
        em {
            border: 1px solid $blue-interactive-foreground;
            color: $blue-interactive-foreground;
            @include font-heading($min, 1.1);
            font-weight: 900 !important;
            font-feature-settings: 'tnum' 1;
            font-style: normal;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            transition: all 0.1s ease-out;
        }

        em {
            display: none;
        }
    }

    li:nth-child(1) span i,
    li:nth-child(1) span em {
        padding-right: 0.045em;
    }

    li:nth-child(2),
    li:nth-child(5) {

        a {
            margin: -1px 0 -1px -1px;

            span {
                margin-left: 20%;
            }
        }
    }

    li:nth-child(4) {

        a {
            flex-direction: row-reverse;
        }

        span {
            margin-right: 20%;
        }

        div {
            margin-right: 1em;
        }
    }
}