/**
 * Most of the home/index page follows the general page styling. 
 * However, for desktop we want to make the first article a featured
 * element that takes half the space
 */

%border-half {
    content: " ";
    border-bottom: $border;
    border-color: $blue-interactive-highlight;
    position: absolute;
    left: -$gutter;
    width: 50vw;
    bottom: 0;
}


#featured-article {
    padding-right: 0;
    padding-top: 0;
    margin-top: 1rem;

    @include tablet {
        margin-top: 3rem;
    }

    @media screen and (max-height: 45rem) {
        .article-excerpt {
            display: none;
        }
    }
}

.article-excerpt {
    margin-bottom: 1.5rem;
}

.excerpt {
    h2 {
        margin-bottom: 1.25rem;
    }
}


/*
 * TABLET 768 - 1024
 */
@include tablet {}


/*
 * MOBILE < 768
 */
@include mobile {}





ol.index-toc {
    list-style: none;

    li {
        clear: both;
        padding: 0;
    }

    h1 {
        margin: 0;
        @include heading-l;
        font-size: #{"max(3.5vw, 48px)"};
        line-height: 1;
    }

    small {
        line-height: 1.5;
        display: block;
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 3rem;

        span i,
        span em {
            border-width: 0;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        a {
            align-items: center;
            margin-bottom: 0;
            span i,
            span em {
                border-width: 1px;
            }
        }


        li:nth-child(1) span i,
        li:nth-child(1) span em {
            padding-right: 0.045em;
        }

        li:nth-child(2),
        li:nth-child(5) {

            a {
                margin: -1px 0 -1px -1px;

                span {
                    margin-left: 20%;
                }
            }
        }

        li:nth-child(4) {

            a {
                flex-direction: row-reverse;
            }

            span {
                margin-right: 20%;
            }

            div {
                margin-right: 1em;
            }
        }
    }
}