ol.toc {
    // margin-left: 1rem;
    list-style: none;

    column-count: 2;
    column-gap: $gutter;

    li {
        padding: 0;
    }

    @include tablet {
        column-count: 1;
    }

    &.toc-full {
        list-style: none;
        font-size: inherit;

        margin-left: 0;

        i {
            font-style: normal;
        }

        >li>a>span {
            @include heading-m;
        }
    }

    a {
        text-decoration: none;
        display: block;
        border: none;
    }

    &>li {
        margin-bottom: 2rem;
    }

    &>li>ul {
        list-style: none;
        padding-left: 0;
    }

    ul ul {
        // font-size: 0.8rem;

        li {
            padding: 0;
        }
    }

    ul,
    ol {
        padding-left: 1rem;
        break-inside: avoid;
    }

    .links {
        list-style: none;
        padding-left: 0;
    }
}

footer ol.toc {
    column-count: 1;

    li {
        margin-bottom: 0;
    }
}