ol.toc {
    margin-left: 1rem;
    list-style: decimal;

    a {
        text-decoration: none;
        display: block;
        border: none;
    }

    &>li {
        margin-bottom: 2rem;
    }

    ul ul {
        font-size: 0.8rem;

        li {
            padding: 0;
        }
    }

    ul,
    ol {
        padding-left: 1rem;
    }
}