ol.toc {
    margin-left: 1rem;
    // list-style: decimal;
    list-style: none;

    column-count: 2;
    column-gap: $gutter;

    @include tablet {
        column-count: 1;
    }

    &.toc-full {
        list-style: decimal;
        
        ::marker,
        > li > a {
            @include heading-s;
        }
    }

    a {
        text-decoration: none;
        display: block;
        border: none;
    }

    &>li {
        margin-bottom: 2rem;
    }

    ul ul {
        font-size: 0.8rem;

        li {
            padding: 0;
        }
    }

    ul,
    ol {
        padding-left: 1rem;
        break-inside: avoid;
    }
}

footer ol.toc {
    column-count: 1;

    li {
        margin-bottom: 0;
    }
}