--- 
--- 
@import "variables";

body {
    // Set page paddings in the print dialog or wkhtmltopdf options
    padding: 0 !important;
    background: none;
}

.hide-print {
    display: none !important;
}

.show-print {
    display: block !important;

    &.inline-block {
        display: inline-block !important;
    }
}

// We don't want people clicking links in the PDF that lead to localhost
// Unfortunately wkhtmltopdf does not understand internal links, so best
// disable on screen interactions with the links in the PDF altogether
a {
    pointer-events: none;
}

.page-index-en-html article {
    page-break-before: avoid;
}

article {
    padding: 0 5mm !important;
    margin: 0 !important;
    page-break-before: always;
    overflow-x: visible;

    a {
        text-decoration: none !important;
        border-bottom: none !important;
    }

    a[href*="bibliography#"],
    a[href^="#"] {
        border: none;
    }

    main figure {
        padding: 0 0 !important;
    }

    blockquote,
    figure {
        page-break-inside: avoid;
    }

    main .full {
        width: 100% !important;
    }

    h1[id],
    h2[id],
    h3[id],
    h4[id] {
        a:before {
            display: none;
        }
    }
}

p {
    max-width: none;
}

dd {
    page-break-inside: avoid;
    display: block;
}

// Header
.header {
    display: none;
}

article .header {
    display: block;
}

// Footer
#page-footer {
    display: none;
}

// Index page
.homepage article {
    .page-title {
        color: $sand-foreground;
    }

    .page-info {
        margin-top: 0;
        width: 100%;
    }

    .page-links {
        display: none;
    }

    main {
        width: 100%;
    }

    .toc-wrapper {
        display: none;
    }
}

.index-toc {
    display: none !important;
}

// Chapters
.layout-chapter {
    article h1 {
        font-size: 42pt;
    }

    article>header>.meta {
        display: none;
    }

    nav.meta {
        display: none;
    }

    aside[id^="sn:"] {
        transform: none !important;
    }

    footer.chapter-footer {
        display: none;
    }

    aside {
        break-inside: avoid;
    }

    article header.header {
        margin-top: 10cm !important;
        display: block;
    }

    article .header h1 {
        font-size: 48pt !important;
    }

    article .header h1 span i {
        font-size: 20pt !important;
        font-weight: 200 !important;
    }

    article main aside.panel,
    article main aside.table,
    article main aside.box {
        background: transparent !important;
        border: 2pt solid $blue-interactive-foreground !important;
    }

    article main aside.panel,
    article main aside.table,
    article main figure>img {
        border: 2pt solid $blue-interactive-foreground !important;
    }

    h1.chapter-number {
        display: block !important;
    }

    article {
        blockquote {
            padding-left: 1.45rem;
            margin-left: 1.35rem !important;
        }

        .question {
            padding-left: 55px !important;
            transform: translateY(0) !important;

            &:before {
                left: 0 !important;
            }
        }
    }
}

// Bibliography
.page-bibliography-en-md main {
    font-size: smaller;
}

.meta > *{
    padding: 0 !important;
    border: 0 !important;
}