---
layout: default
---

<style type="text/css">
html {
    scroll-padding-top: 12.5rem;
}
</style>

{% assign chapter_lang = "chapters_" | append: page.lang %}
{% assign chapters = site[chapter_lang] %}

{% for chapter in chapters %}
{% assign prev_index = forloop.index0 | plus: 1 %}
{% assign next_index = forloop.index0 | minus: 1 %}

{% if chapters[prev_index].title == page.title and prev_index != -1 %}
{% assign prev = chapter %}
{% endif %}

{% if chapters[next_index].title == page.title and next_index != -1 %}
{% assign next = chapter %}
{% endif %}
{% endfor %}

{% assign toc_lang = "toc_" | append: page.lang %}
{% for chapter in site.data[toc_lang] %}
{% if chapter[0] == page.title %}
{% assign toc = chapter[1] %}
{% assign index = forloop.index %}
{% endif %}
{% endfor %}

<article>
    <header class="header">
        <div class="meta meta-large">
            <div class="meta-tags">
                Chapter {{ index }}
            </div>

            <div class="meta-authors">
                {{ site.author }}
            </div>
        </div>
        <h1 class="chapter-number">
            {{ page.title }}
        </h1>
    </header>

    <main>
        {{ content }}
    </main>

    <nav class="meta meta-small">
        <div>{{ index }}. {{ page.title }}</div>
        <div class="meta-sections">
            <ul>
                {% for section in toc %}
                <li>
                    <a href="#{{ section[0] | slugify }}">{{ section[0] }}</a>
                    <ul>
                        {% for subsection in section[1] %}
                        <li><a href="#{{ subsection | slugify }}">{{ subsection }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% if prev %}<a href="{{ site.baseurl }}{{ prev.url }}" class="meta-prev">← prev</a>{% endif %}
        {% if next %}<a href="{{ site.baseurl }}{{ next.url }}" class="meta-next">next →</a>{% endif %}
    </nav>

    <footer class="chapter-footer meta">
        {% if prev %}<a href="{{ site.baseurl }}{{ prev.url }}" class="">← {{ prev.title }}</a>{% endif %}
        {% if next %}<a href="{{ site.baseurl }}{{ next.url }}" class="">{{ next.title }} →</a>{% endif %}
    </footer>

</article>

{% include footer.html %}

<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<!-- <script src="{{ 'assets/js/charts.js' | relative_url }}"></script> -->