---
layout: default
---
<article>
    <header class="">
        <h1 class="page-title" {% if page.lang == "es" %}style="font-size: min(18.75vh, 245px)"{% endif %}>{{ page.title }}</h1>
    </header>

    <aside class="page-info">
        <h2 class="page-subtitle">{{ page.subtitle }}</h2>
        <div class="meta meta-large">
            <div class="meta-tags">
                Book
            </div>
            <div class="meta-authors">
                {{ site.author }}
            </div>
        </div>
    </aside>
    
    <aside class="page-links">
        {% assign root = '/' | append: page.lang %}
        {% if page.lang == "en" %}
            {% assign book_url = 'assets/downloads/DysonMary_Legibility_' | append: site.last_book_compile | append: '.pdf' %}
            <a class="button" target="_blank" href="{{ book_url | relative_url }}">Download as PDF</a><br>
            <a class="button" href="/es">Leer en español</a>
            {% else %}
            {% assign book_url = 'assets/downloads/DysonMary_Legibilidad_' | append: site.last_book_compile | append: '.pdf' %}
            <a class="button" target="_blank" href="{{ book_url | relative_url }}">Descargar como PDF</a><br>
            <a class="button" href="/en">Read in English</a>
        {% endif %}
    </aside>

    <main>
        {{ content }}
    </main>

</article>

{% include footer.html %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ 'assets/js/charts.js' | relative_url }}"></script>