---
layout: default
---
<article>
    <header class="header">
        {% assign title_length = page.title | size %}
        <!-- <h1 {% if title_length < 35 %}class="large heading-size-{{ title_length }}"{% endif %}>{{ page.title }}</h1> -->
        <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>

</article>

{% include footer.html %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ 'assets/js/charts.js' | relative_url }}"></script>