---
layout: default
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
{% assign document = site[the_collection] %}
{% endif %}
{% for links in document %}
{% if links.title == page.title %}
{% unless forloop.first %}
{% assign prevurl = prev.url %}
{% endunless %}
{% unless forloop.last %}
{% assign next = document[forloop.index] %}
{% assign nexturl = next.url %}
{% endunless %}
{% endif %}
{% assign prev = links %}
{% endfor %}


<article>
    <header class="header">
        {% assign title_length = page.title | size %}
        <!-- <h1 {% if title_length < 35 %}class="large heading-size-{{ title_length }}"{% endif %}>{{ page.title }}</h1> -->
        <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <aside class="meta meta-small">
        <div>{{ page.title }}</div>
        <div class="meta-sections">
            <ul>
                {% for section in page.sections %}
                <li><a href="#{{ section | slugify }}">{{ section }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ prevurl }}" class="meta-prev">&lt; previous</a>
        <a href="{{ nexturl }}" class="meta-next">next &gt;</a>
    </aside>

    <footer>
        {% for a in page.authors %}
        {% assign author = site.authors | where: "name", a | first %}
        <div class="author">
            <h3>{{ author.name }}</h3>
            {% if author.profile %}
            <img src="{{ author.profile | relative_url }}" alt="{{ author.name }}">
            {% endif %}
            <p>{{ author.content | markdownify }}</p>
            {% if author.website %}
            <p class="author-website"><a href="{{ author.website }}">{{ author.website }}</a></p>
            {% endif %}
        </div>
        {% endfor %}

    </footer>

</article>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ 'assets/js/charts.js' | relative_url }}"></script>